name: Daily Auto Commit

on:
  schedule:
    # 매일 한국 시간 기준 오전 9시 (UTC 00:00)에 실행
    - cron: '0 0 * * *'
  workflow_dispatch: # 수동으로도 실행할 수 있게 설정

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Make changes
        run: |
          echo "Last commit: $(date)" > daily-check.txt

      - name: Commit and Push
        run: |
          git config --global user.name "Duskafka"
          git config --global user.email "rlarlgus0206@naver.com"
          git add daily-check.txt
          git commit -m "chore: daily auto commit $(date)"
          git push
